<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seekweb4.chat.modules.faq.mapper.FaqMapper">

	<sql id="faqColumns">
		a.id AS "id",
		a.title AS "title",
		a.content AS "content",
		a.lang AS "lang",
		a.sort AS "sort",
		a.create_date AS "createDate",
		a.update_date AS "updateDate"
	</sql>

	<sql id="faqJoins">

	</sql>


	<select id="get" resultType="com.seekweb4.chat.modules.faq.entity.Faq" >
		SELECT
			<include refid="faqColumns"/>
		FROM t_faq a
		<include refid="faqJoins"/>
		WHERE a.id = #{id}
	</select>

	<select id="findList" resultType="com.seekweb4.chat.modules.faq.entity.Faq" >
		SELECT
			<include refid="faqColumns"/>
		FROM t_faq a
		<include refid="faqJoins"/>
		<where>
			
			${dataScope}
			<if test="title != null and title != ''">
				AND a.title LIKE concat('%',#{title},'%')
			</if>
			<if test="lang != null and lang != ''">
				AND a.lang = #{lang}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.sort ASC
			</otherwise>
		</choose>
	</select>

	<select id="findAllList" resultType="com.seekweb4.chat.modules.faq.entity.Faq" >
		SELECT
			<include refid="faqColumns"/>
		FROM t_faq a
		<include refid="faqJoins"/>
		<where>
			
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<insert id="insert">
		INSERT INTO t_faq(
			id,
			title,
			content,
			lang,
			sort,
			create_date,
			update_date
		) VALUES (
			#{id},
			#{title},
			#{content},
			#{lang},
			#{sort},
			#{createDate},
			#{updateDate}
		)
	</insert>

	<update id="update">
		UPDATE t_faq SET
			title = #{title},
			content = #{content},
			lang = #{lang},
			sort = #{sort},
			update_date = #{updateDate}
		WHERE id = #{id}
	</update>


	<!--物理删除-->
	<update id="delete">
		DELETE FROM t_faq
		WHERE id = #{id}
	</update>

	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE t_faq SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>


	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="com.seekweb4.chat.modules.faq.entity.Faq">
		SELECT
			<include refid="faqColumns"/>
		FROM t_faq a
		<include refid="faqJoins"/>
		WHERE a.${propertyName} = #{value}
	</select>

</mapper>