<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seekweb4.chat.modules.changepaypwdlog.mapper.ChangePaypwdLogMapper">

	<sql id="changePaypwdLogColumns">
		a.id AS "id",
		a.uid AS "u.id",
		a.old_pwd AS "oldPwd",
		a.new_pwd AS "newPwd",
		a.ip AS "ip",
		a.ipcity AS "ipcity",
		a.create_date AS "createDate",

		u.phone AS "u.phone",
		u.acount AS "u.acount",
		u.idno AS "u.idno",
		u.nickname AS "u.nickname"
	</sql>

	<sql id="changePaypwdLogJoins">

		LEFT JOIN t_member u ON u.id = a.uid
	</sql>


	<select id="get" resultType="com.seekweb4.chat.modules.changepaypwdlog.entity.ChangePaypwdLog" >
		SELECT
			<include refid="changePaypwdLogColumns"/>
		FROM t_change_paypwd_log a
		<include refid="changePaypwdLogJoins"/>
		WHERE a.id = #{id}
	</select>

	<select id="findList" resultType="com.seekweb4.chat.modules.changepaypwdlog.entity.ChangePaypwdLog" >
		SELECT
			<include refid="changePaypwdLogColumns"/>
		FROM t_change_paypwd_log a
		<include refid="changePaypwdLogJoins"/>
		<where>
			
			${dataScope}
			<if test="u != null and u.id != null and u.id != ''">
				AND a.uid = #{u.id}
			</if>
			<if test="u != null and u.idno != null and u.idno != ''">
				AND u.idno = #{u.idno}
			</if>
			<if test="u != null and u.nickname != null and u.nickname != ''">
				AND u.nickname LIKE concat('%',#{u.nickname},'%')
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date DESC
			</otherwise>
		</choose>
	</select>

	<select id="findAllList" resultType="com.seekweb4.chat.modules.changepaypwdlog.entity.ChangePaypwdLog" >
		SELECT
			<include refid="changePaypwdLogColumns"/>
		FROM t_change_paypwd_log a
		<include refid="changePaypwdLogJoins"/>
		<where>
			
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>

	<insert id="insert">
		INSERT INTO t_change_paypwd_log(
			id,
			uid,
			old_pwd,
			new_pwd,
			ip,
			ipcity,
			create_date
		) VALUES (
			#{id},
			#{u.id},
			#{oldPwd},
			#{newPwd},
			#{ip},
			#{ipcity},
			#{createDate}
		)
	</insert>

	<update id="update">
		UPDATE t_change_paypwd_log SET
			uid = #{u.id},
			old_pwd = #{oldPwd},
			new_pwd = #{newPwd},
			ip = #{ip},
			ipcity = #{ipcity}
		WHERE id = #{id}
	</update>


	<!--物理删除-->
	<update id="delete">
		DELETE FROM t_change_paypwd_log
		WHERE id = #{id}
	</update>

	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE t_change_paypwd_log SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>


	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="com.seekweb4.chat.modules.changepaypwdlog.entity.ChangePaypwdLog">
		SELECT
			<include refid="changePaypwdLogColumns"/>
		FROM t_change_paypwd_log a
		<include refid="changePaypwdLogJoins"/>
		WHERE a.${propertyName} = #{value}
	</select>

</mapper>