<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('充值记录')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="rechage-log-form">
                <div class="select-list">
                    <ul>
                        <li>用户ID：<input type="text" name="u.id" placeholder="用户ID"/></li>
                        <li>标题：<input type="text" name="title" placeholder="标题"/></li>
                        <li>
                            审核状态：
                            <select name="state">
                                <option value="">审核状态</option>
                                <option value="1">待审核</option>
                                <option value="2">通过</option>
                                <option value="3">驳回</option>
                                <option value="4">已锁定</option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="rechagelog:rechageLog:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:src="@{/web4x/js/im-table.js}"></script>
<script th:src="@{/web4x/js/im-rechagelog.js}"></script>
</body>
</html>