<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('意见反馈')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="feedback-form">
                <div class="select-list">
                    <ul>
                        <li>ID号：<input type="text" name="idno"/></li>
                        <li>联系方式：<input type="text" name="phone"/></li>
                        <li>内容：<input type="text" name="content"/></li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;查询</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>

<div id="feedback-detail-modal" style="display:none;padding:15px 20px;">
    <table class="table table-bordered">
        <tbody>
        <tr><th style="width:120px;">昵称</th><td id="fb-nickname"></td></tr>
        <tr><th>ID号</th><td id="fb-idno"></td></tr>
        <tr><th>联系方式</th><td id="fb-phone"></td></tr>
        <tr><th>内容</th><td id="fb-content"></td></tr>
        <tr><th>回复内容</th><td id="fb-reply"></td></tr>
        <tr><th>回复时间</th><td id="fb-replyDate"></td></tr>
        <tr><th>状态</th><td id="fb-status"></td></tr>
        <tr><th>奖励金额</th><td id="fb-rewardAmount"></td></tr>
        <tr><th>反馈时间</th><td id="fb-createDate"></td></tr>
        <tr><th>图片</th><td id="fb-images"></td></tr>
        </tbody>
    </table>
</div>

<div id="feedback-action-modal" style="display:none;padding:15px 20px;">
    <form id="feedback-action-form" class="form-horizontal">
        <input type="hidden" id="feedback-action-id"/>
        <input type="hidden" id="feedback-action-mode"/>
        <div class="form-group" id="feedback-reply-group">
            <label class="col-sm-3 control-label"><span class="text-danger">*</span> 回复内容：</label>
            <div class="col-sm-8"><textarea class="form-control" id="feedback-reply" rows="4" maxlength="500"></textarea></div>
        </div>
        <div class="form-group" id="feedback-reward-group" style="display:none;">
            <label class="col-sm-3 control-label"><span class="text-danger">*</span> 奖励金额：</label>
            <div class="col-sm-8"><input type="number" class="form-control" id="feedback-rewardAmount" min="0" step="0.01"/></div>
        </div>
    </form>
</div>

<th:block th:include="include :: footer" />
<script th:src="@{/web4x/js/im-table.js?v=20260605j}"></script>
<script th:src="@{/web4x/js/im-feedback.js?v=20260605j}"></script>
<script th:inline="javascript">
    $(function () {
        imFeedbackInitTable(
            [[${@permission.isPermitted('ops:support:feedback:view')}]],
            [[${@permission.isPermitted('ops:support:feedback:edit')}]],
            [[${@permission.isPermitted('ops:support:feedback:delete')}]]
        );
    });
</script>
</body>
</html>
