<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seekweb4.chat.modules.weburl.mapper.WebMapper">

	<sql id="webColumns">
		a.id AS "id",
		a.title AS "title",
		a.icon AS "icon",
		a.url AS "url",
		a.sort AS "sort",
		a.del_flag AS "delFlag",
		a.create_date AS "createDate",
		a.update_date AS "updateDate"
	</sql>

	<sql id="webJoins">

	</sql>


	<select id="get" resultType="com.seekweb4.chat.modules.weburl.entity.Web" >
		SELECT
			<include refid="webColumns"/>
		FROM t_web a
		<include refid="webJoins"/>
		WHERE a.id = #{id}
	</select>

	<select id="findList" resultType="com.seekweb4.chat.modules.weburl.entity.Web" >
		SELECT
			<include refid="webColumns"/>
		FROM t_web a
		<include refid="webJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="title != null and title != ''">
				AND a.title LIKE concat('%',#{title},'%')
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.sort
			</otherwise>
		</choose>
	</select>

	<select id="findAllList" resultType="com.seekweb4.chat.modules.weburl.entity.Web" >
		SELECT
			<include refid="webColumns"/>
		FROM t_web a
		<include refid="webJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<insert id="insert">
		INSERT INTO t_web(
			id,
			title,
			icon,
			url,
			sort,
			del_flag,
			create_date,
			update_date
		) VALUES (
			#{id},
			#{title},
			#{icon},
			#{url},
			#{sort},
			#{delFlag},
			#{createDate},
			#{updateDate}
		)
	</insert>

	<update id="update">
		UPDATE t_web SET
			title = #{title},
			icon = #{icon},
			url = #{url},
			sort = #{sort},
			update_date = #{updateDate}
		WHERE id = #{id}
	</update>


	<!--物理删除-->
	<update id="delete">
		DELETE FROM t_web
		WHERE id = #{id}
	</update>

	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE t_web SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>


	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="com.seekweb4.chat.modules.weburl.entity.Web">
		SELECT
			<include refid="webColumns"/>
		FROM t_web a
		<include refid="webJoins"/>
		WHERE a.${propertyName} = #{value}
	</select>

</mapper>