<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seekweb4.chat.modules.zhuxiao.mapper.ZhuxiaoMapper">

	<sql id="zhuxiaoColumns">
		a.id AS "id",
		a.uid AS "uid",
		a.eqid AS "eqid",
		a.acc AS "acc",
		a.idno AS "idno",
		a.state AS "state",
		a.reason AS "reason",
		a.create_date AS "createDate",
		a.update_date AS "updateDate"
	</sql>

	<sql id="zhuxiaoJoins">

	</sql>


	<select id="get" resultType="com.seekweb4.chat.modules.zhuxiao.entity.Zhuxiao" >
		SELECT
			<include refid="zhuxiaoColumns"/>
		FROM t_zhuxiao a
		<include refid="zhuxiaoJoins"/>
		WHERE a.id = #{id}
	</select>

	<select id="findList" resultType="com.seekweb4.chat.modules.zhuxiao.entity.Zhuxiao" >
		SELECT
			<include refid="zhuxiaoColumns"/>
		FROM t_zhuxiao a
		<include refid="zhuxiaoJoins"/>
		<where>
			
			${dataScope}
			<if test="eqid != null and eqid != ''">
				AND a.eqid = #{eqid}
			</if>
			<if test="uid != null and uid != ''">
				AND a.uid = #{uid}
			</if>
			<if test="acc != null and acc != ''">
				AND a.acc = #{acc}
			</if>
			<if test="idno != null and idno != ''">
				AND a.idno = #{idno}
			</if>
			<if test="state != null and state != ''">
				AND a.state = #{state}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date DESC
			</otherwise>
		</choose>
	</select>

	<select id="findAllList" resultType="com.seekweb4.chat.modules.zhuxiao.entity.Zhuxiao" >
		SELECT
			<include refid="zhuxiaoColumns"/>
		FROM t_zhuxiao a
		<include refid="zhuxiaoJoins"/>
		<where>
			
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<insert id="insert">
		INSERT INTO t_zhuxiao(
			id,
			uid,
			eqid,
			acc,
			idno,
			state,
			reason,
			create_date,
			update_date
		) VALUES (
			#{id},
			#{uid},
			#{eqid},
			#{acc},
			#{idno},
			#{state},
			#{reason},
			#{createDate},
			#{updateDate}
		)
	</insert>

	<update id="update">
		UPDATE t_zhuxiao SET
			uid = #{uid},
			eqid = #{eqid},
			acc = #{acc},
			idno = #{idno},
			state = #{state},
			reason = #{reason},
			update_date = #{updateDate}
		WHERE id = #{id}
	</update>


	<!--物理删除-->
	<update id="delete">
		DELETE FROM t_zhuxiao
		WHERE id = #{id}
	</update>

	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE t_zhuxiao SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>


	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="com.seekweb4.chat.modules.zhuxiao.entity.Zhuxiao">
		SELECT
			<include refid="zhuxiaoColumns"/>
		FROM t_zhuxiao a
		<include refid="zhuxiaoJoins"/>
		WHERE a.${propertyName} = #{value}
	</select>

</mapper>