<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seekweb4.chat.modules.tixian.mapper.TixianMapper">

	<sql id="tixianColumns">
		a.id AS "id",
		a.uid AS "u.id",
		a.money AS "money",
		a.img AS "img",
		a.info AS "info",
		a.state AS "state",
		a.imgtitle AS "imgtitle",
		a.reason AS "reason",
		a.create_date AS "createDate",
		a.update_date AS "updateDate",

		u.nickname AS "u.nickname",
		u.icon AS "u.icon",
		u.sex AS "u.sex"
	</sql>

	<sql id="tixianJoins">

		LEFT JOIN t_member u ON u.id = a.uid
	</sql>


	<select id="get" resultType="com.seekweb4.chat.modules.tixian.entity.Tixian" >
		SELECT
			<include refid="tixianColumns"/>
		FROM t_tixian a
		<include refid="tixianJoins"/>
		WHERE a.id = #{id}
	</select>

	<select id="findList" resultType="com.seekweb4.chat.modules.tixian.entity.Tixian" >
		SELECT
			<include refid="tixianColumns"/>
		FROM t_tixian a
		<include refid="tixianJoins"/>
		<where>
			
			${dataScope}
			<if test="u != null and u.id != null and u.id != ''">
				AND a.uid = #{u.id}
			</if>
			<if test="state != null and state != ''">
				AND a.state = #{state}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date DESC
			</otherwise>
		</choose>
	</select>

	<select id="findAllList" resultType="com.seekweb4.chat.modules.tixian.entity.Tixian" >
		SELECT
			<include refid="tixianColumns"/>
		FROM t_tixian a
		<include refid="tixianJoins"/>
		<where>
			
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<insert id="insert">
		INSERT INTO t_tixian(
			id,
			uid,
			money,
			img,
			info,
			state,
			imgtitle,
			create_date,
			update_date
		) VALUES (
			#{id},
			#{u.id},
			#{money},
			#{img},
			#{info},
			#{state},
			#{imgtitle},
			#{createDate},
			#{updateDate}
		)
	</insert>

	<update id="update">
		UPDATE t_tixian SET
			uid = #{u.id},
			money = #{money},
			img = #{img},
			info = #{info},
			state = #{state},
			imgtitle = #{imgtitle},
			reason = #{reason},
			update_date = #{updateDate}
		WHERE id = #{id}
	</update>


	<!--物理删除-->
	<update id="delete">
		DELETE FROM t_tixian
		WHERE id = #{id}
	</update>

	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE t_tixian SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>


	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Tixian">
		SELECT
			<include refid="tixianColumns"/>
		FROM t_tixian a
		<include refid="tixianJoins"/>
		WHERE a.${propertyName} = #{value}
	</select>

</mapper>