<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seekweb4.chat.modules.black.mapper.BlackMapper">

	<sql id="blackColumns">
		a.id AS "id",
		a.uid AS "uid",
		a.uid2 AS "uid2.id",
		a.create_date AS "createDate",
		a.update_date AS "updateDate",


		uid2.nickname AS "uid2.nickname",
		uid2.icon AS "uid2.icon",
		uid2.sex AS "uid2.sex"
	</sql>

	<sql id="blackJoins">

		LEFT JOIN t_member uid2 ON uid2.id = a.uid2
	</sql>


	<select id="get" resultType="com.seekweb4.chat.modules.black.entity.Black" >
		SELECT
			<include refid="blackColumns"/>
		FROM t_black a
		<include refid="blackJoins"/>
		WHERE a.id = #{id}
	</select>

	<select id="findList" resultType="com.seekweb4.chat.modules.black.entity.Black" >
		SELECT
			<include refid="blackColumns"/>
		FROM t_black a
		<include refid="blackJoins"/>
		<where>
			
			${dataScope}
			<if test="uid != null and uid != ''">
				AND a.uid = #{uid}
			</if>
			<if test="uid2 != null and uid2.id != null and uid2.id != ''">
				AND a.uid2 = #{uid2.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date DESC
			</otherwise>
		</choose>
	</select>

	<select id="findAllList" resultType="com.seekweb4.chat.modules.black.entity.Black" >
		SELECT
			<include refid="blackColumns"/>
		FROM t_black a
		<include refid="blackJoins"/>
		<where>
			
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<insert id="insert">
		INSERT INTO t_black(
			id,
			uid,
			uid2,
			create_date,
			update_date
		) VALUES (
			#{id},
			#{uid},
			#{uid2.id},
			#{createDate},
			#{updateDate}
		)
	</insert>

	<update id="update">
		UPDATE t_black SET
			uid = #{uid},
			uid2 = #{uid2.id},
			update_date = #{updateDate}
		WHERE id = #{id}
	</update>


	<!--物理删除-->
	<update id="delete">
		DELETE FROM t_black
		WHERE id = #{id}
	</update>

	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE t_black SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>


	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="com.seekweb4.chat.modules.black.entity.Black">
		SELECT
			<include refid="blackColumns"/>
		FROM t_black a
		<include refid="blackJoins"/>
		WHERE a.${propertyName} = #{value}
	</select>

</mapper>