<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('用户封禁管理')" />
    <style>
        .ban-table-wrap { overflow-x: auto; }
        .ban-avatar { width: 40px; height: 40px; object-fit: cover; margin-right: 4px; border-radius: 4px; }
    </style>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="ban-form">
                <div class="select-list">
                    <ul>
                        <li>地区：<input type="text" name="city"/></li>
                        <li>账户：<input type="text" name="acount"/></li>
                        <li>ID号：<input type="text" name="idno"/></li>
                        <li>昵称：<input type="text" name="nickname"/></li>
                        <li>
                            状态：
                            <select name="state">
                                <option value="">全部</option>
                                <option value="0">正常</option>
                                <option value="1">永久封禁</option>
                            </select>
                        </li>
                        <li th:replace="include :: im-search-time-range('注册时间：', 'beginCreateDate', 'endCreateDate')"></li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;查询</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-danger multiple disabled" onclick="imUserBanBatchFeng()" shiro:hasPermission="social:user:ban:ban">
                <i class="fa fa-ban"></i> 批量封禁
            </a>
            <a class="btn btn-warning multiple disabled" onclick="imUserBanBatchJie()" shiro:hasPermission="social:user:ban:unban">
                <i class="fa fa-unlock"></i> 批量解封
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped ban-table-wrap">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>

<th:block th:include="include :: footer" />
<script th:src="@{/web4x/js/im-table.js?v=20260605m}"></script>
<script th:src="@{/web4x/js/im-piamom-common.js}"></script>
<script th:src="@{/web4x/js/im-user-ban.js?v=20260605p}"></script>
<script th:inline="javascript">
    window.imFilePath = /*[[${@environment.getProperty('filePath', '')}]]*/ '';
    $(function () {
        imUserBanInitTable(
            [[${@permission.isPermitted('social:user:ban:ban')}]],
            [[${@permission.isPermitted('social:user:ban:unban')}]]
        );
    });
</script>
</body>
</html>
