<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('群红包领取明细')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="group-hongbao-log-form">
                <div class="select-list">
                    <ul>
                        <li>ID号：<input type="text" name="u.idno" placeholder="ID号"/></li>
                        <li>群组ID号：<input type="text" name="group.idno" placeholder="群组ID号"/></li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;查询</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:src="@{/web4x/js/im-table.js}"></script>
<script th:src="@{/web4x/js/im-group-hongbao-log.js}"></script>
</body>
</html>