<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('用户余额明细')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="balance-log-form">
                <input type="hidden" name="uid"/>
                <div class="select-list">
                    <ul>
                        <li>ID号：<input type="text" name="idno" placeholder="用户ID号"/></li>
                        <li>专题：<input type="text" name="title" placeholder="标题/专题"/></li>
                        <li>
                            类型：
                            <select name="type">
                                <option value="">所有</option>
                            </select>
                        </li>
                        <li>
                            收支类型：
                            <select name="state">
                                <option value="">所有</option>
                                <option value="1">收入</option>
                                <option value="0">支出</option>
                            </select>
                        </li>
                        <li th:replace="include :: im-search-time-range('创建时间：', 'beginCreateDate', 'endCreateDate')"></li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="asset:fund:balance:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:src="@{/web4x/js/im-table.js}"></script>
<script th:src="@{/web4x/js/im-dict.js}"></script>
<script th:src="@{/web4x/js/im-balancelog.js?v=20260614}"></script>
</body>
</html>
