<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seekweb4.chat.modules.creditScore.mapper.CreditScoreConfigMapper">

    <resultMap id="BaseResultMap" type="com.seekweb4.chat.modules.creditScore.entity.CreditScoreConfig">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="init_score" property="initScore"/>
        <result column="vip_bonus_rate" property="vipBonusRate"/>
        <result column="lianghao_bonus_rate" property="lianghaoBonusRate"/>
        <result column="price" property="price"/>
        <result column="score_info" property="scoreInfo"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, create_time, update_time, create_by, update_by, is_deleted,
        init_score, vip_bonus_rate, lianghao_bonus_rate, price, score_info
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_credit_score_config
        where id = #{id}
          and is_deleted = 0
    </select>

    <select id="selectCurrent" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_credit_score_config
        where is_deleted = 0
        order by id desc
        limit 1
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_credit_score_config(
            create_time, update_time, create_by, update_by, is_deleted,
            init_score, vip_bonus_rate, lianghao_bonus_rate, price, score_info
        ) values (
            #{createTime}, #{updateTime}, #{createBy}, #{updateBy}, #{isDeleted},
            #{initScore}, #{vipBonusRate}, #{lianghaoBonusRate}, #{price}, #{scoreInfo}
        )
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.seekweb4.chat.modules.creditScore.entity.CreditScoreConfig">
        update t_credit_score_config
        <set>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="initScore != null">init_score = #{initScore},</if>
            <if test="vipBonusRate != null">vip_bonus_rate = #{vipBonusRate},</if>
            <if test="lianghaoBonusRate != null">lianghao_bonus_rate = #{lianghaoBonusRate},</if>
            <if test="price != null">price = #{price},</if>
            <if test="scoreInfo != null">score_info = #{scoreInfo},</if>
            update_time = #{updateTime}
        </set>
        where id = #{id}
          and is_deleted = 0
    </update>

    <delete id="deleteByPrimaryKey">
        delete from t_credit_score_config
        where id = #{id}
    </delete>

    <select id="selectAdminPageList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_credit_score_config
        <where>
            is_deleted = 0
            <if test="id != null">
                and id = #{id}
            </if>
        </where>
        <if test="orderBy != null and orderBy != ''">
            order by ${orderBy}
        </if>
        <if test="orderBy == null or orderBy == ''">
            order by update_time desc, id desc
        </if>
        <if test="pageNo != null and pageSize != null">
            limit #{pageNo}, #{pageSize}
        </if>
    </select>

    <select id="selectAdminCount" resultType="java.lang.Long">
        select count(1)
        from t_credit_score_config
        <where>
            is_deleted = 0
            <if test="id != null">
                and id = #{id}
            </if>
        </where>
    </select>

</mapper>

