<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seekweb4.chat.modules.creditScore.mapper.CreditScoreMemberDetailsMapper">

    <resultMap id="BaseResultMap" type="com.seekweb4.chat.modules.creditScore.entity.CreditScoreMemberDetails">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="user_id" property="userId"/>
        <result column="credit_score" property="creditScore"/>
        <result column="credit_status" property="creditStatus"/>
    </resultMap>

    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT
            id, create_time, update_time, create_by, update_by, is_deleted,
            user_id, credit_score, credit_status
        FROM t_member_details
        WHERE is_deleted = 0
          AND user_id = #{userId}
        LIMIT 1
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO t_member_details(
            create_time, update_time, create_by, update_by, is_deleted,
            user_id, credit_score
        ) VALUES (
            #{createTime}, #{updateTime}, #{createBy}, #{updateBy}, #{isDeleted},
            #{userId}, #{creditScore}
        )
    </insert>

    <update id="updateCreditScoreByUserId">
        UPDATE t_member_details
        SET credit_score = #{creditScore},
            update_time = #{updateTime},
            update_by = #{updateBy}
        WHERE is_deleted = 0
          AND user_id = #{userId}
    </update>

    <update id="updateCreditActivateByUserId">
        UPDATE t_member_details
        SET credit_score = #{creditScore},
            credit_status = #{creditStatus},
            update_time = #{updateTime},
            update_by = #{updateBy}
        WHERE is_deleted = 0
          AND user_id = #{userId}
    </update>

    <insert id="insertActivate" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO t_member_details(
            create_time, update_time, create_by, update_by, is_deleted,
            user_id, credit_score, credit_status
        ) VALUES (
            #{createTime}, #{updateTime}, #{createBy}, #{updateBy}, #{isDeleted},
            #{userId}, #{creditScore}, #{creditStatus}
        )
    </insert>

</mapper>

