<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('IM内部转账交易记录')" />
    <th:block th:include="include :: im-transfer-fn-switch-css" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="payment-transaction-im-form">
                <div class="select-list">
                    <ul>
                        <li>ID号：<input type="text" name="idno" placeholder="ID号"/></li>
                        <li>交易流水号：<input type="text" name="transactionNumber" placeholder="交易流水号"/></li>
                        <li>实际到账金额：<input type="text" class="im-amount-input" name="actualAmount" placeholder="实际到账金额"/></li>
                        <li>转账金额：<input type="text" class="im-amount-input" name="amount" placeholder="转账金额"/></li>
                        <li>手续费金额：<input type="text" class="im-amount-input" name="rateAmount" placeholder="手续费金额"/></li>
                        <li>
                            交易状态：
                            <select name="paymentStatus">
                                <option value="">请选择交易状态</option>
                                <option value="1">成功</option>
                                <option value="2">失败</option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="imTableSearch('payment-transaction-im-form')"><i class="fa fa-search"></i>&nbsp;查询</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="imPaymentTransactionImResetSearch()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                        <li class="transfer-fn-switch" shiro:hasPermission="ops:system:features:edit">
                            <span class="transfer-fn-text">转账功能</span>
                            <label class="toggle-switch switch-solid" for="transfer-im-fn-toggle" title="控制移动端转账功能开关">
                                <input type="checkbox" id="transfer-im-fn-toggle"/>
                                <span></span>
                            </label>
                            <span class="transfer-fn-status" id="transfer-im-fn-label">关闭</span>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:src="@{/web4x/js/im-table.js}"></script>
<script th:src="@{/web4x/js/im-transfer-fn.js}"></script>
<script th:src="@{/web4x/js/im-payment-transaction-im.js}"></script>
<script th:inline="javascript">
    $(function () {
        imPaymentTransactionImInitTable();
        imPaymentTransactionImInitPage([[${@permission.isPermitted('ops:system:features:edit')}]]);
    });
</script>
</body>
</html>
