<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seekweb4.chat.modules.grouphongbao.mapper.GroupHongbaoMapper">

	<sql id="groupHongbaoColumns">
		a.id AS "id",
		a.uid AS "u.id",
		a.group_id AS "group.id",
		a.type AS "type",
		a.money AS "money",
		a.symonet AS "symonet",
		a.count AS "count",
		a.sycount AS "sycount",
		a.info AS "info",
		a.zsid AS "zsid",
		a.tui_money AS "tuiMoney",
		a.tui_time AS "tuiTime",
		a.del_flag AS "delFlag",
		a.create_date AS "createDate",
		a.update_date AS "updateDate",

		u.nickname AS "u.nickname",
		u.idno AS "u.idno",
		u.icon AS "u.icon",
		u.sex AS "u.sex",
		`user`.nickname AS "zsname",

		`group`.name AS "group.name",
		`group`.idno AS "group.idno"
	</sql>

	<sql id="groupHongbaoJoins">

		LEFT JOIN t_member u ON u.id = a.uid
		LEFT JOIN t_group `group` ON `group`.id = a.group_id
		LEFT JOIN t_member `user` ON `user`.id = a.zsid
	</sql>


	<select id="get" resultType="com.seekweb4.chat.modules.grouphongbao.entity.GroupHongbao" >
		SELECT
			<include refid="groupHongbaoColumns"/>
		FROM t_group_hongbao a
		<include refid="groupHongbaoJoins"/>
		WHERE a.id = #{id}
	</select>

	<select id="findList" resultType="com.seekweb4.chat.modules.grouphongbao.entity.GroupHongbao" >
		SELECT
			<include refid="groupHongbaoColumns"/>
		FROM t_group_hongbao a
		<include refid="groupHongbaoJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="u != null and u.id != null and u.id != ''">
				AND a.uid = #{u.id}
			</if>
			<if test="u != null and u.idno != null and u.idno != ''">
				AND u.idno = #{u.idno}
			</if>
			<if test="u != null and u.nickname != null and u.nickname != ''">
				AND u.nickname LIKE concat('%',#{u.nickname},'%')
			</if>
			<if test="group != null and group.id != null and group.id != ''">
				AND a.group_id = #{group.id}
			</if>
			<if test="type != null and type != ''">
				AND a.type = #{type}
			</if>
			<if test="beginCreateDate != null and endCreateDate != null ">
				AND a.create_date BETWEEN #{beginCreateDate} AND #{endCreateDate}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date DESC
			</otherwise>
		</choose>
	</select>

	<select id="findAllList" resultType="com.seekweb4.chat.modules.grouphongbao.entity.GroupHongbao" >
		SELECT
			<include refid="groupHongbaoColumns"/>
		FROM t_group_hongbao a
		<include refid="groupHongbaoJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<insert id="insert">
		INSERT INTO t_group_hongbao(
			id,
			uid,
			group_id,
			type,
			money,
			symonet,
			count,
			sycount,
			info,
			zsid,
			tui_money,
			tui_time,
			del_flag,
			create_date,
			update_date
		) VALUES (
			#{id},
			#{u.id},
			#{group.id},
			#{type},
			#{money},
			#{symonet},
			#{count},
			#{sycount},
			#{info},
			#{zsid},
			#{tuiMoney},
			#{tuiTime},
			#{delFlag},
			#{createDate},
			#{updateDate}
		)
	</insert>

	<update id="update">
		UPDATE t_group_hongbao SET
			uid = #{u.id},
			group_id = #{group.id},
			type = #{type},
			money = #{money},
			symonet = #{symonet},
			count = #{count},
			sycount = #{sycount},
			info = #{info},
			zsid = #{zsid},
			tui_money = #{tuiMoney},
			tui_time = #{tuiTime},
			update_date = #{updateDate}
		WHERE id = #{id}
	</update>


	<!--物理删除-->
	<update id="delete">
		DELETE FROM t_group_hongbao
		WHERE id = #{id}
	</update>

	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE t_group_hongbao SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>


	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="com.seekweb4.chat.modules.grouphongbao.entity.GroupHongbao">
		SELECT
			<include refid="groupHongbaoColumns"/>
		FROM t_group_hongbao a
		<include refid="groupHongbaoJoins"/>
		WHERE a.${propertyName} = #{value}
	</select>

</mapper>